.full-view-section {
    margin-top: 1em;
}

#action_list, #action_list .section-head {
    margin: 0;
}

#action_list .section-head {
    display: none;
}

#action_list prm-action-list {
    position: fixed;
    bottom: 0;
    z-index: 98;
    background-color: gainsboro;
    box-shadow: 0 1px 0 0 rgba(58,58,58,.1),0 1px 5px 0 rgba(58,58,58,.2);
}
#action_list prm-action-list .md-button.accessible-close {
    width: inherit;
    height: inherit;
    left: inherit;
    overflow: inherit;
    position: inherit;
    margin: 0.5em 0 0.5em 0 !important;
}
